<h1>FOUND BOOK ERB</h1><br><br>

<!-- THIS PAGE SHOWS THE RESULTS OF A TITLE SEARCH -->

<h2>Search results:</h2><br><br>

     <!-- INSERT found_book_hash with links -->

<h3><a href="/">Back to Patron Page</a></h3>
