<h1>INDEX PAGE</h1><br><br>

<div id="welcome" class = "jumbotron">
 <h2>Welcome to Epicodus Library</h2><hr><br>
</div>

<img src="/img/books.jpg">

<br><br><br>
<h3><a href="/patron_home">View site as a Patron</a></h3><br>
<h3><a href="/librarian_home">View site as a Librarian</a></h3>
