<h1>PATRON ERB</h1><br><br>

<h3>At Epicodus Library, patron security is a top priority.  Choose your name and ONLY your name from the list below:</h3><br><br>

<ul style="list-style: none;">
  <% @name.each() do |patron_name| %>
    <li>
      <a href="/patron_name/<%= name.id() %>">
      <%= patron_name.name() %>
      </a>
    </li>
</ul>
  <% end %>

<br><br>
<h3><a href="/patron_form">New user?  Sign up here</a></h3>
