<h1>PATRON FORM ERB</h1><br><br>


<form action="/patron_form">
  <div class="form-group">
    <label for="patron_name">Enter your name:</label>
      <input name="patron_name" class="form-control" type="text">
    <label for="patron_birthday">Enter your birthday:</label>
      <input name="patron_birthday" class="form-control" type="date">
  </div>
  <hr>
  <button action="/patron" class="btn btn-success">sign up</button>
</form>
