<h1>New patron form</h1><br><br>


<form action="/new_patron_form" method="post">
  <div class="form-group">
    <label for="patron_name">Enter your name:</label>
      <input name="patron_name" class="form-control" type="text">
  </div>
  <hr>
  <button type="submit" class="btn btn-success">sign up</button>
</form>
